<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: var(--wm-color-primary)"></span>
		<span class="sg-label">
			var(--wm-color-primary)
		</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-primary-active)"></span>
    <span class="sg-label">
      var(--wm-color-primary-active)
    </span>
  </li>
</ul>
