<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: var(--wm-color-gray-200)"></span>
		<span class="sg-label">
			var(--wm-color-gray-200)
		</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-gray-400)"></span>
    <span class="sg-label">
      var(--wm-color-gray-400)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-gray-600)"></span>
    <span class="sg-label">
      var(--wm-color-gray-600)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-gray-800)"></span>
    <span class="sg-label">
      var(--wm-color-gray-800)
    </span>
  </li>
</ul>

