<div class="wm-container wm-container--content">

  <main class="wm-content" role="main">

    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium recusandae ipsam, veritatis</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nisi eius eos mollitia, incidunt eum sit nihil blanditiis iure voluptas voluptates, eaque, earum, nostrum numquam vero obcaecati deserunt! Corrupti, deleniti.
    </p>

    {{> atoms-figure }}

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur tenetur a quaerat numquam dignissimos nisi ratione unde distinctio ut repudiandae blanditiis, sapiente neque error, rerum illo, totam veniam est! Labore!
    </p>

    <h2>Table</h2>

    {{> atoms-table }}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas necessitatibus corporis, placeat laboriosam dignissimos aliquam alias praesentium aliquid nihil repellendus, inventore. Nam nobis aperiam eveniet repellendus reiciendis quibusdam consectetur? Voluptatibus!</p>

  </main>

</div>
