node_modules
public/*
!public/index.html
!public/styleguide
public/styleguide/data/patternlab-data.js
public/styleguide/html/styleguide.html

## macOS ###
*.DS_Store
.AppleDouble
.LSOverride


!source/_patterns/00-atoms/icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sublime-project
vendor/
