<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: var(--wm-color-alpha)"></span>
		<span class="sg-label">
			var(--wm-color-alpha)
		</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-beta)"></span>
    <span class="sg-label">
      var(--wm-color-beta)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-gama)"></span>
    <span class="sg-label">
      var(--wm-color-gama)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-delta)"></span>
    <span class="sg-label">
      var(--wm-color-delta)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: var(--wm-color-epsilon)"></span>
    <span class="sg-label">
      var(--wm-color-epsilon)
    </span>
  </li>
</ul>
