html {
  font-family: var(--wm-font-family);
  font-size: var(--wm-font-size-base);
  line-height: var(--wm-line-height-base);
  color: var(--wm-color-text);
  background: var(--wm-color-gray-200);
}

a {
  color: var(--wm-color-primary);
}

a:hover,
a:focus,
a:active {
  color: var(--wm-color-primary-active);
}
