h1,
.h1,
.fz-xxxl {
	font-size: 2.441rem;
}

h2,
.h2,
.fz-xxl {
	font-size: var(--wm-font-size-xxl);
}

h3,
.h3,
.fz-xl {
	font-size: var(--wm-font-size-xl);
}

h4,
.h4,
.fz-lg {
	font-size: var(--wm-font-size-lg);
}

h6,
h5,
.h5,
.h6,
.fz-md {
	font-size: var(--wm-font-size-md);
}


small,
.fz-sm {
	font-size: var(--wm-font-size-sm);
}
