<figure class="wm-figure">
  <img class="wm-figure__figure"
    src="{{ img.landscape-4x3.src }}"
    alt="{{ img.landscape-4x3.alt }}"
    height="400">
  <figcaption class="wm-figure__figcaption">
    <p>
      Figure 12: Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. <a href="#">bit.ly/anchor</a>
    </p>
  </figcaption>
</figure>
