/*
1) For possible inner layout (box with icon etc.)
*/

.wm-box {
  display: inline-flex; /* 1) */
  padding: var(--wm-box-padding);
  border: var(--wm-box-border);
  border-radius: var(--wm-box-radius);
}


.wm-box--inverted {
  border-color: white;
  color: white;
}
