.wm-content {
  max-width: 34rem; /* TODO Guesswork */
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wm-content--wide {
  max-width: 66rem; /* TODO Guesswork */
}

/* Responsive images only in the content */

.wm-content img {
  max-width: 100%;
  height: auto;
}
