.wm-container {
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Container with content inside: white background and border radius */

.wm-container--content {
  background: white;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: 768px) {
    border-radius: var(--wm-box-radius);
  }

  @media print {
    box-shadow: none; /* reset block shadow */
  }
}
