.wm-size--xl {
  padding: var(--wm-box-padding-xl);
}

.wm-size--lg {
  padding: var(--wm-box-padding-lg);
}

.wm-size--md {
  padding: var(--wm-box-padding-md);
}

.wm-size--sm {
  padding: var(--wm-box-padding-sm);
}

.wm-size--xs {
  padding: var(--wm-box-padding-xs);
}
