:root {
  --wm-color-primary: blue;    
  --wm-color-secondary: red;
  
  --wm-color-gray-200: #e9ecef;
  --wm-color-gray-400: #ced4da;
  --wm-color-gray-600: #868e96;
  --wm-color-gray-800: #343a40;
}
