// Define Sass variables
// =====================

// Essential colors
// ----------------

// This is the temporary scheme for development reasons.
// https://coolors.co/002c3a-5fa316-48440e-b43b18-ede29f
// https://github.com/machal/web-mine/issues/2

$colors-essential: (
  alpha:   #5FA316,    // VD green - TODO for neutral: blue
  beta:    #002C3A,    // VD darkgreen - TODO for neutral: red
  gama:    #48440E,    // VD brown - TODO for neutral: darkgrey
  delta:   #EDE29F,    // VD yellow - TODO for neutral: darkblue
  epsilon: #B43B18,    // VD red - TODO for neutral: darkblue
);

// Text colors
// -----------

$colors-text: (
  text: darken(map-get($colors-essential, gama), 10%),
  text-light: mix(map-get($colors-essential, gama), white, 66%),
  headings: darken(map-get($colors-essential, alpha), 10%)
);


// Primary colors
// --------------

// Anchors, primary buttons…

$colors-primary: (
  primary: map-get($colors-essential, alpha),
  primary-active: map-get($colors-essential, beta),
);


// Grays
// -----

$colors-gray: (
  // TODO neutral from Bootstrap: #e9ecef
  gray-200: mix(#eee, map-get($colors-essential, alpha), 90%),
  // TODO neutral from Bootstrap: #ced4da
  gray-400: mix(#ccc, map-get($colors-essential, alpha), 90%),
  // TODO neutral from Bootstrap: #868e96
  gray-600: mix(#999, map-get($colors-essential, alpha), 90%),
  // TODO neutral from Bootstrap: #343a40
  gray-800: mix(#333, map-get($colors-essential, alpha), 90%),
);


// Generate CSS Custom Properties
// ==============================

:root {

  @each $name, $color in $colors-essential {
   --wm-color-#{$name}: $color;
  }

  @each $name, $color in $colors-primary {
   --wm-color-#{$name}: $color;
  }

  @each $name, $color in $colors-text {
   --wm-color-#{$name}: $color;
  }

  @each $name, $color in $colors-gray {
   --wm-color-#{$name}: $color;
  }

}
