:root {
  /* 
    Default is Boostrap 4 style:
    https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss 
  */
  --wm-font-family: 
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --wm-font-family-monospaced: 
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;    
  
  --wm-font-size-base: 1rem;
  --wm-font-size-lg:   1.25rem;
  --wm-font-size-sm:   .875rem;
  
  --wm-line-height-base:  1.4;  
  --wm-font-size-lg:      1.5;
  --wm-font-size-sm:      1.3;    
}
